@use '../../scss/abstracts/' as *; 

.user__checked {
    background-color: rgb(0, 255, 60);
}

.user__unchecked {
    background-color: rgb(255, 0, 0);
}

.user__unknown {
    background-color: rgb(237, 245, 9);
}