@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily !important;
    color: $txtColor !important;
    font-size: $fontSizeNormal !important;
    line-height: 1.5;
    // background-color: $bodyBg;
    overflow-x: hidden;
    // background-color: rgb(42, 153, 243);
    background: linear-gradient(to bottom left, #1A374D 0%, #B1D0E0 100%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
    text-transform: uppercase
}

a {
    text-decoration: none !important; 
    color: unset !important;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}