@use '../scss/abstracts/' as *; 

.checkuser {
    // margin: auto;
    // position: absolute;
    // display: inline-grid;

    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    // z-index: 1;


    &__title {
        // margin: auto;
        color: #fff;
        font-size: 250%;
        font-weight: bold;
        // margin-right: 138px;
    }


}

.adduser__input {
    width: 50%;
    display: inline-flex;
    margin-bottom: 20px;
}

input {
    margin-right: 4px;
  }
  
  form {
    text-align: center;
  }
  
  // button {
  //   margin: 0 5px;
  // }


// .webcam {}



