@use '../scss/abstracts/'as *;


.mask_check {
  color: #fff;
  font-size: 250%;
  font-weight: bold;
}

.home__image {
  border-radius: 20px;
}

// form{
//     background-color: white;
//     padding: 0px 60px;
//     border-radius: 10px;
// }

.register__title {
  color: rgba(0, 172, 238, 1);
  text-align: center;
}

// button {
//   width: 100%;
//   height: 50px;
//   padding: 10px;
//   border: none;
//   background-color: rgb(212, 233, 241);
//   color: rgba(0, 172, 238, 0.5);
//   border-radius: 5px;
//   font-weight: bold;
//   font-size: 18px;
//   cursor: pointer;
//   margin-top: 5px;
//   margin-bottom: 10px;
// }

.login__button {
  width: 30%;
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5666a5;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 40px 30px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login__button:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.login__button:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #5666a5;
  content: '';
  border-radius: inherit;
}

.login__button:hover,
.login__button.hover {
  background-color: #5666a5;
  color: #ffffff;
}

.login__button:hover:before,
.login__button.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}

.login__button {
  width: 30%;
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5666a5;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 40px 30px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logout__button{
width: 80%;
}

.form__button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(212, 233, 241);
  color: rgba(0, 172, 238, 0.5);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;

}

.form__button:hover {
  background-color: rgba(0, 172, 238, 1);
  color: #ffffff;
}


// .home__popup-box {
//   text-align: left !important;
//   position: absolute;
//   background: #00000050;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   align-items: center;
// }

.home__box {
  position: absolute;
  width: 360px;
  height: auto;
  top: 10%;
  left: 33%;
  // margin: 10% 50%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.stats__content {
  background-color: lightcyan;
}