.room__service__title {
    // margin-right: 138px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.room__service__content {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    animation: slide 0.5s linear;
}

.room__service__button1 {
    position: absolute;
    top: 20px;
    right: 40px;
}

.room__service__button2 {
    position: absolute;
    top: 90px;
    right: 40px;
}

.line__separate {
    width: 80%;
    height: 3px !important;
    background-color: #000 !important;
}


// .edit__popup-box {
//   text-align: left !important;
//   position: absolute;
//   background: #00000050;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   align-items: center;
// }

.edit__box {
    position: absolute;
    width: 360px;
    height: auto;
    top: 10%;
    left: 33%;
    // margin: 10% 50%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

#selectBooking {
    width: 100%;
    height: 59px;
    border-radius: 5px;
    margin-right: 4%;
    text-align: center;
}