@use '../scss/abstracts/' as *;

.main {
    padding-left: $sideBarWidth;
    overflow-x: hidden;
    height: 100%;
    text-align: center;
    // display: block;
    // align-items: center;
    // justify-content: center;

    // @include tablet {
    //     padding-left: 0;
    //     width: 100vw;
    // }

    &__content {
        // margin: auto;
        min-height: 100vh;
        padding: 24px;
        transition: all 0.5s ease-in-out;
        // position: relative;

        // @include tablet {
        //     padding: $mobileSpacing;
        //     position: relative;
        //     background-color: $bodyBg;
		// 	z-index: 200;
        // }
    }
}


@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.sidebar-open .main__content {
	height: 100vh;
	overflow: hidden;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	transform: scale(1) translateX(-50%);
	transition: all 0.5s all;
}