.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.form__label{
    font-size: 12px;
    color: gray;
}

.form__span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.form__input:invalid[focused="true"]{
    border: 1px solid red;
}

.form__input:invalid[focused="true"] ~ span{
    display: block;
}